.jumbotron
  .container
    %h1
      Water
    %h2.text-muted
      Driving persistency of knowledge through exposure

.container.marketing
  .row.featurette
    .col-sm-7.col-md-7
      %h2.featurette-heading
        Choose A Time
      %span.text-muted Convenience
      %p.lead
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-sm-5.col-md-5
      = image_tag "set-revision-time.png", class: "featurette-image img-responsive"

  %hr.featurette-divider

  .row.featurette
    .col-sm-5.col-md-5
      = image_tag "add-notes.png", class: "featurette-image img-responsive"
    .col-sm-7.col-md-7
      %h2.featurette-heading
        Add Condensed Class Notes
      %span.text-muted A Time
      %p.lead
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  %hr.featurette-divider
  
  .row.featurette
    .col-sm-7.col-md-7
      %h2.featurette-heading
        Receive Scientifically-spaced Revision on any device
      %span.text-muted A Time
      %p.lead
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-sm-5.col-md-5
      = image_tag "spaced-icon.png", class: "featurette-image img-responsive"