.row
  .col-lg-12
    %header
      %h1
        = link_to "Memoly", root_path
      %p
        Driving persistency of knowledge through exposure

.row
  .col-lg-4.center
    = render template: "alpha_users/new"

.row
  .col-lg-12
    %iframe{  :width => "50%", 
              :height => "400em", 
              :src => "http://www.youtube.com/embed/E2YP8Ln1MNU?html5=1", 
              :frameborder => "0", 
              :align => "middle", 
              :allowfullscreen => true }

.row
  .col-lg-4
    %h2
      How It Works
  .col-lg-4
    %h2
      How It Works
  .col-lg-4
    %h2
      How It Works