!!!
%html
  %head
    %meta{  :"http-equiv"=>"Content-type", 
            :content=>"text/html; charset=utf-8" }
    %meta{  :name=>"viewport", 
            :content=>"width=device-width, initial-scale=1.0" }
    %meta{  :"http-equiv"=>"X-UA-Compatible", 
            :content=>"IE=edge,chrome=1" }
    %meta{  :name=>"description", 
            :content=>"Big Sofa" }
    %meta{  :name=>"keywords", 
            :content=>"Big Sofa" }

    %title Memoly
    = stylesheet_link_tag "application", media: "all", :"data-turbolinks-track" => true
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = csrf_meta_tags

  %body  
    = yield

    .container
      %hr
      
      %footer
      .col-lg-12
        %ul.list-inline
          %li
            &copy;Memoly 2014
          / %li
          /   What's Memoly?
          / %li 
          /   The Team
          / %li
          /   Our Privacy Policy
          / %li
          /   Terms of Use
          / %li 
          /   Blog
          